@using MetroAPP
@model MetroAPP.BlogItem
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section id="blog" class="container">
    <div class="text-primary" style="padding-left: 100px;">
        <h2 style="padding-top: 20px;">Blog</h2>
        <p class="lead" style="padding-bottom: 20px;">Latest news from Audio - Tehghnica</p>
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    @{
                        <img class="img-responsive img-blog" src="~/Images/Blog/@Model.BlogImageUrl" width="100%" alt="" />
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    @using (var db = new MainDatabaseEntities())
                                    {
                                        var blogAuthor = db.Korisnik.Find(@Model.KorisnikId);
                                        <span id="publish_date">@blogAuthor.KorisnikRegistracija.ToString()</span>
                                        <span>Author:<br /><a href="#">@blogAuthor.KorisnikIme @blogAuthor.KorisnikPrezime</a></span>
                                        <span>Likes: <a href="#">@Model.BlogLikes</a></span>
                                    }
                                </div>
                            </div>

                            @{
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h2>@Model.BlogNaslovnica</h2>
                                    <p style="padding-top: 50px;">@Model.BlogText</p>
                                </div>
                            }
                        </div>
                    }
                </div><!--/.blog-item-->
                @using (var db = new MainDatabaseEntities())
                {
                    var comments = db.BlogComment.Where(id => id.CommentIdBlog == @Model.BlogId);
                    <h1 id="comments_title">@comments.Count() Comments</h1>

                    foreach (var item in comments)
                    {
                        <div class="media comment_section">
                        <div class="pull-left post_comments">
                            @{
                                var commAuthorPic = db.Korisnik.Find(item.KorisnikId);
                                <a href="#"><img src="~/Images/Korisnik/@commAuthorPic.KorisnikSlika" class="img-circle" alt="" /></a>
                            }
                        </div>
                            <div class="media-body post_reply_comments">
                                @{
                                    var commAuthor = db.Korisnik.Find(item.KorisnikId);
                                    <h3>@commAuthor.KorisnikIme @commAuthor.KorisnikPrezime</h3>
                                }
                                <h4>@item.CommentDate</h4>
                                <p>@item.CommentText</p>
                            </div>
                    </div>
                    }
                   
                }
                

                <div id="contact-page clearfix">
                    @if (Session["Korisnik"] != null)
                    {
                        <div class="status alert alert-success" style="display: none"></div>
                        <div class="message_heading">                       
                            <h4>Leave a Replay</h4>
                            <p>Make sure you enter the(*)required information where indicate.HTML code is not allowed</p>
                        </div>
                        <div class="row">
                            @using (Html.BeginForm("MessagePost", "BlogItemDetails", FormMethod.Post))
                            {
                                <div class="col-sm-5" style="width: 100%">
                                    <div class="form-group">
                                        <label>Message *</label>
                                        @Html.TextArea("message", new { rows = 10,@class = "form-control",style="border-color: #000000"})
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Submit Message</button>
                                    </div>
                                </div>
                                @Html.TextBox("CommentIdBlog", @Model.BlogId, new {@style = "opacity: 0"})
                            }       
                        </div>
                    }
                    else
                    {
                        <div class="message_heading">                       
                            <h4>Leave a Replay</h4>
                            <div style="width: 230px;float: left">To leave a replay you must <p style="background-color: #000000; width: 45px;float: right">@Html.ActionLink("sign in","Index","LogInOut")</p></div>
                        </div>
                    }
                </div><!--/#contact-page-->
            </div><!--/.col-md-8-->
            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                    </form>
                </div><!--/.search-->

                <div class="widget">
                    <h3>Recent Comments</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            @using (var db = new MainDatabaseEntities())
                            {
                                foreach (var item in db.BlogComment.OrderByDescending(date => date.CommentDate).Take(3))
                                {
                                    var commentAuthor = db.Korisnik.Find(item.KorisnikId);
                                    <div class="single_comments">
                                        @if (item.KorisnikId != null)
                                        {
                                            <span class="text-primary">By: @commentAuthor.KorisnikIme @commentAuthor.KorisnikPrezime </span>
                                        }
                                        <span style="padding-left: 30px;">  @item.CommentDate</span>
                                        <p>@item.CommentText</p>
                                        <div class="entry-meta small">
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div><!--/.recent comments-->         
            </aside>
        </div><!--/.row-->
    </div><!--/.blog-->
</section><!--/#blog-->

