@using System.Globalization
@using MetroAPP
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section id="blog" class="container">
    <div class="text-primary" style="padding-left: 100px;">
        <h2 style="padding-top: 20px;">Blog</h2>
        <p class="lead" style="padding-bottom: 20px;">Latest news from Audio - Tehghnica</p>
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                @using (var db = new MainDatabaseEntities())
                {
                    foreach (var item in db.BlogItem)
                     {
                         <div class="blog-item">
                             <div class="row">
                                 <div class="col-xs-12 col-sm-2 text-center">
                                     <div class="entry-meta">
                                              @{var blogAuthor = db.Korisnik.Find(item.KorisnikId);
                                                <span id="publish_date">@blogAuthor.KorisnikRegistracija.ToString()</span>
                                                <span>Author:<br/><a href="#">@blogAuthor.KorisnikIme @blogAuthor.KorisnikPrezime</a></span>
                                                <span>Likes: <a href="#">@item.BlogLikes</a></span>
                                             }
                                         
                                     </div>
                                 </div>

                                 <div class="col-xs-12 col-sm-10 blog-content">
                                     <h2 class="text-info">@item.BlogNaslovnica</h2>
                                     <a href="#"><img class="img-responsive img-blog" src="~/Images/Blog/@item.BlogImageUrl" width="100%" alt="" /></a>
                                     <h3 style="padding-bottom: 20px;">Posted on @item.BlogItemDate</h3>
                                     <h3>@item.BlogTextSample</h3>
                                     <div style="background-color: #000000; width: 102px; border-radius: 10px;"><p style="padding: 10px;">@Html.ActionLink("READ MORE", "Index", "BlogItemDetails", new {blogId = @item.BlogId}, null) </p></div>
                                 </div>
                             </div>
                         </div>
                         <!--/.blog-item-->
                     }
                }
            </div><!--/.col-md-8-->
            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                    </form>
                </div><!--/.search-->

                <div class="widget">
                    <h3>Recent Comments</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            @using (var db = new MainDatabaseEntities())
                            {
                                foreach (var item in db.BlogComment.OrderByDescending(date=>date.CommentDate).Take(3))
                                {
                                    var commentAuthor = db.Korisnik.Find(item.KorisnikId);
                                    <div class="single_comments">
                                        @if (item.KorisnikId != null)
                                        {
                                            <span class="text-primary">By: @commentAuthor.KorisnikIme @commentAuthor.KorisnikPrezime </span>
                                        }
                                        <span style="padding-left: 30px;">  @item.CommentDate</span>
                                        <p>@item.CommentText</p>
                                        <div class="entry-meta small">
                                        </div>
                                    </div>
                                 }
                            }
                        </div>
                    </div>
                </div><!--/.recent comments-->

            </aside>
        </div><!--/.row-->
    </div>
</section><!--/#blog-->